/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --font-family-site: 'IBM Plex mono';
    --main-background-auto: url("/images/cover-image-dark.png");
    --accent-color-auto: #FF0070;
    --head-text-auto: #FF0070;
    --main-text: 18px;
    --text-color-dark: #000028;
    --text-weight: bold;
    --violet-auto: #DB00FF;
    --pink-auto: #F1B2CE;
    --text-weight-normal: normal;
    --border-hover: #FF0070;
}